.app-container {
  box-sizing: border-box;
  background-color: #393e46;
  margin: 80px 10%;
  padding: 30px 60px;
  border-radius: 20px;
  box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 8.2vh;
  letter-spacing: 0.063em;
  text-shadow: 2px 3px 0px rgb(150 150 150);
  line-height: 1.2;
  text-transform: capitalize;
  color: white;
  font-weight: 900;
}