.scroll-container {
  margin: 0;
  padding: 0 30px;
  overflow-y: scroll;
  height: 1030px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}