.scroll-container {
  overflow-y: scroll;
  height: 1334px; /* TODO: cal new height if need to be used */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none;
}