html,
body {
  margin: 0;
}

*::selection {
  background: #21d4fd;
}

body {
  /* background-image: linear-gradient(to right top, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68); */
  /* background-image: linear-gradient(to right top, #ffeb68, #ffb25f, #ff7e71, #d75a88, #944b94, #38438b); */
  background: linear-gradient(to bottom, #b721ff, #2af598, #fec051, #fee140, #fa709a);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 0.875em;
  letter-spacing: 0.063em;
}

body:before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), #21d4fd 75%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
